<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    
    <name>Skynet Waybill Tracking</name>
    
    <description>
        Skynet Waybill Tracking
    </description>
    
    <content src="index.html"/>
    <icon src="icon.png" width="256" height="256" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

    

</widget>

